<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Salary Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="airline" placeholder="Airline" required="required" />
        <input type="text" name="dateofjourney" placeholder="Date of Journey" required="required" />
        <p>
                    <label>Source </label>
                    <select id = "myList">
                      <option value = "1">Banglore</option>
                      <option value = "2">Kolkata</option>
                      <option value = "3">Delhi</option>
                      <option value = "4">Chennai</option>
                      <option value = "4">Mumbai</option>
                    </select>
        <p>
        <p>
                       <label>Destination</label>
                       <select id = "myList">
                         <option value = "1">Banglore</option>
                         <option value = "2">Kolkata</option>
                         <option value = "3">Delhi</option>
                         <option value = "4">Chennai</option>
                         <option value = "4">Mumbai</option>
                       </select>
           <p>

		<input type="text" name="source" placeholder="Source" required="required" />
        <input type="text" name="destination" placeholder="Destination" required="required" />
        <input type="text" name="route" placeholder="Route" required="required" />
        <input type="text" name="destination" placeholder="Destination" required="required" />
        <input type="text" name="destination" placeholder="Destination" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>

